@use "../utils/variables" as variables;
@use "../utils/mixins" as *;


i {
  margin-right: 0.75rem;
  color: variables.$color-white;
}

i:hover {
  color: variables.$color-black;
}

li {
  list-style: none;
}

button {
  padding: 5px 10px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: variables.$main-font-size;
  background-color: variables.$color-gray-darker;
  padding: 1rem 0.5rem;
  margin-top: auto;
  a {
    text-decoration: none;
    color: variables.$color-white;
  }
  a:hover {
    color: variables.$color-primary;
  }
}

.footer_col {
  font-size: variables.$main-font-size;
  padding: 2rem;
  width: 1rem;
}

.social {
  margin-bottom: 2rem;
}
.social li {
  margin-bottom: 0.7rem;
}

.footer-links li {
  text-align: center;
  margin-bottom: 1rem;
}

.footer_col_payment {
  @include flexCenter(column);
  padding: 2rem;
}

.order-tracking {
  @include flexCenter(column);
  text-align: center;
  margin-bottom: 1.1rem;
}

.order-tracking input {
  margin: 5px;
  padding: 0.25rem;
}

.order-tracking h4 {
  color: variables.$color-white;
}

.copyright p {
  color: variables.$color-white;
  font-size: variables.$main-font-size;
  a {
    color: variables.$color-primary;
  }
}

.payment p {
  margin-bottom: 1rem;
  text-align: center;
  color: variables.$color-white;
  font-size: variables.$medium-font-size;
}
.payment ul {
  display: flex;
  justify-content: center;
  i {
    color: variables.$color-primary;
  }
}

@include media(phone) {
  footer {
    flex-wrap: wrap;
    justify-content: center; /* Centrar las columnas */
    align-items: center; /* Centrar los elementos dentro de las columnas */
  }

  .footer_col {
    width: 50%; /* Establecer el ancho de las columnas al 50% */
  }

  .payment {
    width: 100%; /* Establecer el ancho de la tercera columna al 100% */
  }

  footer a {
    font-size: variables.$small-font-size;
  }

  .copyright p {
    font-size: variables.$small-font-size;
  }

  .payment p {
    font-size: variables.$small-font-size;
  }
}
