@use "../utils/mixins" as *;
@use "../utils/variables" as variables;

#navigation-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10000;
  height: 50px;
  background-color: variables.$color-primary;
  transition: background-color 0.3s ease;
}

.btn-user_nav {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.logo-1 a {
  position: relative;
  text-decoration: none;
  font-size: variables.$medium-font-size;
  color: variables.$color-white;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  text-shadow: 0 0 1px variables.$color-black;
}

.logo-1 a span {
  color: variables.$color-black;
  font-weight: 1000;
}

.logo a span {
  color: variables.$color-primary !important;
  font-weight: 1000;
  text-shadow: 0 0 1px variables.$color-black;
  &.logoNombre-2 {
    color: variables.$color-black !important;
  }

  &:not(.logoNombre-2) {
    color: variables.$color-black;
    font-weight: 1000;
    text-shadow: 0 0 1px variables.$color-black;
  }
}

.container__user {
  width: 100%;
  a {
    font-size: variables.$medium-font-size;
    color: variables.$color-gray-darken;
  }
  a:last-child {
    color: variables.$color-white;
    font-size: variables.$main-font-size;
  }
}

nav {
  .nav-active {
    position: sticky;
    background: variables.$color-white;
  }

  ul {
    @include flexCenter(row);
    margin-top: 10px;
  }

  li {
    position: relative;
    height: 100%;

    a {
      position: relative;
      display: flex;
      padding: variables.$padding;
      text-transform: uppercase;
      transition: all 300ms ease;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.6s;
      text-shadow: 0 0 1px variables.$color-black;
      font-size: variables.$main-font-size;
      color: variables.$color-white;

      &.elementos {
        color: variables.$color-white;
      }

      &:not(.elementos) {
        color: variables.$color-white;
        font-weight: 1000;
        text-shadow: 0 0 1px variables.$color-black;
      }
    }
  }
}

nav > ul > li > a:hover {
  transform: scale(1.1);
}

nav > ul > li > a:first-child {
  font-weight: 800;
}

.icon-nav-1 {
  @include flexCenter(row);
  gap: 1rem;
  padding: variables.$padding;
  text-transform: uppercase;
  transition: all 300ms ease;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  transition: 0.6s;
  margin-top: 15px;
}

@media screen and (max-width: 850px) {
  nav ul {
    display: none;
  }

  .icon-nav-1 a {
    color: variables.$color-primary;
    font-weight: 900;
  }

  .menu-btn,
  .close-btn {
    display: block;
    font-size: variables.$medium-font-size;
    color: white;
    cursor: pointer;
    z-index: 20;
  }

  .close-btn {
    display: none;
    z-index: 20;
  }
}
