@use "utils/variables" as variables;
@use "utils/mixins";
@use "base/fonts";
@use "base/globals";
@use "base/utilities";
@use "components/buttons";
@use "components/footer";
@use "components/navigation";
@use "components/navigation2";
@use "components/navigation3";
@use "components/notyf";
@use "components/modal";
@use "layout/header";
@use "layout/carrusel";
@use "layout/calendario";
@use "pages/home";
@use "pages/contacto";
@use "pages/blog";
@use "pages/cuenta";
@use "pages/show";
@use "pages/login";
@use "pages/validar_reserva";
@use "pages/reservas";
@use "pages/guia";
@use "~bootstrap/scss/bootstrap";
@import "~leaflet/dist/leaflet.css";

