@use "../utils/variables" as variables;
@use "../utils/mixins" as *;

.card-image-slider {
  position: relative;
  min-height: 450px;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  @include media(desktop) {
    min-height: 650px;
  }
}

.content-slider-text {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  transition: opacity 0.3s;
  @include flexStart();
  bottom: 0;
}

.content-slider-title {
  font-size: variables.$big-font-size;
  max-width: 90%;
}

.content-slider-subtitle {
  font-size: variables.$main-font-size;
}

.content-slider-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 10000;
}

.carousel-control-next,
.carousel-control-prev {
  z-index: unset !important;
}

.menu__detalle-tour {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  transition: margin-top 0.3s ease;
}

.detalle-tour {
  @include flexBetween();
  height: 100%;
  margin: auto;
  padding: 0 20px;
}

.detalle-tour ul li {
  border-bottom: 2px solid variables.$color-primary;
}

@include media(tablet) {
  .detalle-tour {
    @include flexCenter(row);
  }
  .detalle-tour ul li:nth-child(5) {
    display: none;
  }
}

@include media(smartPhone) {
  .detalle-tour {
    @include flexStart();
  }
  .detalle-tour ul li:nth-child(4) {
    display: none;
  }
}

.detalle-tour > a {
  font-size: variables.$big-font-size;
  color: variables.$color-white;
  text-decoration: none;
}

.detalle-tour > ul {
  @include flexCenter(row);
  list-style: none;
  padding: 0;
  list-style: none;
}

.detalle-tour > ul > li {
  position: relative;
  list-style: none;
  height: 100%;
  padding: 0px 4px;
}

.detalle-tour > ul > li > a {
  display: flex;
  color: #000;
  padding: 10px;
  transition: all 300ms ease;
  text-decoration: none;
}

.detalle-tour > ul > li > a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background-color: variables.$color-primary;
  color: #fff;
}

.container-detalles {
  padding: 0px 40px;
  @include media(tablet) {
    padding: 0px 20px;
  }
  @include media(smartPhone) {
    padding: 0px 10px;
  }
}

.desconectado {
  color: variables.$color-primary;
  text-decoration: none;
}

@include media(smartPhone) {
  .container-detalles {
    padding: 0px 10px;
  }
}

.detalle-descripcion p {
  margin-bottom: 5px;
  line-height: 2.5rem;
}

.description-hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.description-visible {
  opacity: 1;
  transition: all 0.5s ease;
}

.descripcion-hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.descripcion-visible {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  font-size: variables.$main-font-size;
  line-height: 2.5rem;
}

.descripcion-container, .description-container {
  position: relative;
  text-decoration: none;
  margin-top: 10px;
}

.descripcion-container a, .description-container a {
  text-decoration: none;
  color: variables.$color-primary;
  font-size: variables.$main-font-size;
}

.description-resumen {
  line-height: 1.3em;
}  

.description-resumen-hidden {
  display: none !important;
}


#ocultar-link {
  position: absolute;
  top: 10;
  left: 0;
  display: none;
}

// .hide-link {    
//   position: absolute;
//   top: 10;
//   left: 0;
//   bottom: 40;
// }

.is-hidden {
  display: none !important;
}

.detalle-idioma p,
.detalle-incluido p,
.detalle-noincluido p,
.detalle-reservar p,
.detalle-accesibilidad p,
.detalle-mascotas p,
.detalle-faq p,
.detalle-faq-2 p,
.detalle-cancelacion p {
  margin-top: 15px;
}

.detalle-precio {
  h3 {
    padding: variables.$padding 0;
  }

  p {
    font-size: variables.$main-font-size;
  }
}

.container-detalles > h3 {
  padding: variables.$padding 0;
}

.detalle-general h3 {
  padding: variables.$padding 0;
}

.detalle-titulo {
  @include flexCenter(row);
  gap: 7px;

  i {
    font-size: variables.$medium-font-size;
    color: variables.$color-primary;
  }
  h4 {
    margin-top: 5px;
  }
  @include media(tablet) {
    margin-right: 30px;
  }
}

.detalle-duracion,
.detalle-idioma,
.detalle-incluido,
.detalle-noincluido,
.detalle-reservar,
.detalle-accesibilidad,
.detalle-mascotas,
.detalle-faq {
  @include flexBetween();
  margin-right: 30px;
  @include media(tablet) {
    margin-right: 0px;
  }
}

.detalle-faq-2 ul {
  list-style: none;
  margin-top: 10px;
  font-size: variables.$main-font-size;
}

.titulo-cancelacion {
  display: inline-block;
  border-bottom: 2px solid variables.$color-primary;
}

.titulo-ubicacion {
  display: flex;
  gap: 10px;
}

.detalle-location {
  display: flex;
  flex-direction: column;
}

.detalle-location i {
  color: variables.$color-primary;
}

.meeting-point,
.ubicacion {
  display: flex;
  gap: 20px;
}

.meeting-point h3 {
  border-bottom: 1px solid variables.$color-primary;
  margin-bottom: 10px;
}

.ubicacion {
  margin-bottom: 3rem;
  @include media(tablet) {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 848px) {
  .ubicacion {
    display: block;
  }
  .mapa iframe {
    width: 100%;
  }
}

.container-detalles-reserva {
  @include flexStart();
  @include media(tablet) {
    @include flexCenter(column);
  }
}

.full-width {
  width: 60%;
}

.comentario {
  padding: variables.$padding;
  background-color: variables.$color-white;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
}

.titulo__comentarios {
  text-align: center;
  font-weight: lighter;
}

.comentario-items {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-left: 10px;
  img {
    margin-top: 10px;
  }
}

.comentario-body {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0px 10px;
}

.info {
  display: flex;
  gap: 10px;
}

.pais {
  display: flex;
  justify-content: flex-start;
  img {
    margin: 2.5px;
  }
}

.meta {
  font-size: variables.$small-font-size;
  margin-top: 2px;
}

.stars,
.valoracion {
  margin-top: 10px;
  min-width: 140px;
}

.stars i,
.valoraciones i {
  color: black;
  font-size: variables.$big-font-size;
}

.pagination {
  .page-link {
    color: variables.$color-primary;
  }
  .page-item.active {
    .page-link {
      color: variables.$color-white !important;
      background-color: variables.$color-primary !important;
      font-weight: 800;
      text-shadow: 0 0 1px #fff;
      border: 1px solid variables.$color-primary-darker !important;
    }
  }
  .page-item.disabled {
    .page-link {
      color: variables.$color-primary !important;
      background-color: #ccccccb7 !important;
      text-shadow: 0 0 1px #fff;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      &:hover {
        color: variables.$color-primary !important;
      }
    }
  }
}

.alert-danger {
  font-size: variables.$main-font-size;
  margin-top: 10px;
}

.contenido {
  margin-top: 10px; /* Espacio entre las valoraciones y el contenido */
}

.carousel-inner-cards {
  display: flex;
}

.carousel-item-cards {
  display: block;
  margin-right: 0;
  flex: 0 0 calc(100% / 3);
}
