@use "../utils/mixins" as *;
@use "../utils/variables" as variables;

.observaciones {
  display: flex;
  flex-direction: column;
}

.modal-header {
  background-color: variables.$color-secondary !important;
  color: variables.$color-white;
}

#observacion {
  font-size: variables.$main-font-size;
  padding: 10px;
}

#comentarios {
  width: 100%;
  height: auto;
}

a.fc-event {
  text-align: center !important;
}

.calendario-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 40px;
  transition: all 300ms ease;
}

@include media(smartPhone) {
  .calendario-container {
    width: 95%;
  }

  .footer_col_payment {
    padding: 0;
    .order-tracking {
      display: none;
    }
  }
}

.comentario-container {
  padding: variables.$padding;
  border: 1px solid variables.$color-primary;
  border-radius: 3px;
  margin-bottom: 10px;
}

.comentario-item {
  align-items: flex-start;
  gap: 10px;
  margin-left: 10px;
  img {
    margin-top: 10px;
  }
}

.btn-eliminar-observacion {
  display: inline-block;
}

.fecha-hora {
  margin-bottom: 5px;
}

.asistentes,
.detalle-recaudacion {
  border: 1px solid variables.$color-black;
  border-radius: 3px;
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 10px;
}
