@use "../utils/mixins" as *;
@use "../utils/variables" as variables;

.form-control {
  font-size: variables.$main-font-size !important;
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  a {
    color: variables.$color-primary;
  }
}

@include media(phone) {
  .form-control {
    font-size: variables.$big-font-size !important;
  }
}
